#top_header div:first-of-type {
	background-color: rgb(242, 244, 245);
}
          
.pillar-header {
	font-size: 30px;
	font-weight: bold;
	color: white;
	background: linear-gradient(45deg, rgba(249,157,28,1) 20%, rgba(240,90,34,1) 60%, rgba(237,0,128,1) 100%);
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
}

.action-header {
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: linear-gradient(45deg, rgba(249,157,28,1) 20%, rgba(240,90,34,1) 60%, rgba(237,0,128,1) 100%);
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}

div.action-header img {
    position: absolute;
    z-index: 2;
    top: 5;
    left: 0;
    margin-left: 10px;
}

#collect .panel-body.html {
	background-color: rgb(242, 244, 245);
}
#collect div.dashboard-cell.dashboard-layout-panel {
	width: 25% !important;
}
#collect div.dashboard-cell.dashboard-layout-panel.last-visible {
	width: 75% !important;
}

#investigate .panel-body.html {
	background-color: rgb(242, 244, 245);
}

#monitor .panel-body.html {
	background-color: rgb(242, 244, 245);
}

#triage .panel-body.html {
	background-color: rgb(242, 244, 245);
}

#analyze .panel-body.html {
	background-color: rgb(242, 244, 245);
}

#automate .panel-body.html {
	background-color: rgb(242, 244, 245);
}
#automate div.dashboard-cell.dashboard-layout-panel {
	width: 25% !important;
}
#automate div.dashboard-cell.dashboard-layout-panel.last-visible {
	width: 75% !important;
}

.action-link {
	font-size: 16px;
	background-color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}

/* CSS for sub-pages */
#main {
	font-size: 110%;
}
#main div.dashboard-cell.dashboard-layout-panel {
	width: 75% !important;
}
#main div.dashboard-cell.dashboard-layout-panel.last-visible {
	width: 25% !important;
}

#main div.dashboard-cell.dashboard-layout-panel.last-visible .dashboard-panel {
	background-color: rgb(242, 244, 245);
}

.bold {
	font-weight: bold !important;
}

.overview,
.platform,
.related {
	margin-bottom: 15px;
}

.basics,
.help {
	margin-top: 45px;
}

.learn-more-panel-title {
    display: block;
    margin: 10px 0;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-transform: none;
    color: #3c444d;
    text-rendering: optimizelegibility;
}

